
PythonCode/PytorchExamples/AI/data/cifar-10-batches-py/data_batch_3
*.meta
PythonCode/PytorchExamples/AI/data/cifar-10-batches-py/data_batch_1
PythonCode/PytorchExamples/AI/data/cifar-10-batches-py/data_batch_2
PythonCode/PytorchExamples/AI/data/cifar-10-batches-py/data_batch_4
PythonCode/PytorchExamples/AI/data/cifar-10-batches-py/data_batch_5
PythonCode/PytorchExamples/AI/data/cifar-10-batches-py/readme.html
PythonCode/PytorchExamples/AI/data/cifar-10-batches-py/test_batch
PythonCode/PytorchExamples/AI/data/cifar-10-python.tar.gz
PythonCode/PytorchExamples/AI/data/faces.zip
*.jpg
.idea/misc.xml
.idea/MachineLearningCodes.iml
.idea/modules.xml
.idea/workspace.xml

\.idea/encodings\.xml

\.idea/

*.pyc
